{% extends app.request.xmlHttpRequest
    ? 'FLECrudBundle::base_ajax.html.twig'
    : 'MopaBootstrapBundle::base_less.html.twig' %}

{% block head_style %}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle-fa.less'
        '@FLECrudBundle/Resources/public/less/base.less'
        '@FLECrudBundle/Resources/public/less/search.less'
        '@FLECrudBundle/Resources/public/less/select2.less'
        '@FLECrudBundle/Resources/public/less/selectize.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block title %}{{ 'title'|trans }}{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block foot_script_assetic %}
    {% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block head_script %}
    {# Use Bower to install jquery #}
    {% javascripts
        'assets/vendor/jquery/dist/jquery.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% block page_header %}
    <div class="page-header">
        <h1>{% block headline %}{% endblock headline %}</h1>
        {% if block('new_resource') is not empty %}
            <div class="new_resource">
                {%- block new_resource %}{% endblock new_resource -%}
            </div>
        {% endif %}
    </div>
{% endblock page_header %}

{% macro filter(limit) %}
    <input type="hidden" name="sort" value="{{ app.request.query.get('sort') }}" />
    <input type="hidden" name="direction" value="{{ app.request.query.get('direction') }}" />
    {% if limit is not same as(false) %}
        <input type="hidden" name="page" value="{{ app.request.query.get('page')|default(1) }}" />

        <label class="control-label optional" for="limit">
            {{ 'form.limit'|trans }}
        </label>
        <select id="limit" name="limit" class="form-control" required="required" aria-hidden="true">
            <option value="10" {{ app.request.query.get('limit')|default(10) == 10 ? 'selected="selected"' }}>10</option>
            <option value="20" {{ app.request.query.get('limit')|default(10) == 20 ? 'selected="selected"' }}>20</option>
            <option value="50" {{ app.request.query.get('limit')|default(10) == 50 ? 'selected="selected"' }}>50</option>
            <option value="100" {{ app.request.query.get('limit')|default(10) == 100 ? 'selected="selected"' }}>100</option>
        </select>
    {% endif %}
{% endmacro %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% block flashes %}
    <div class="row flashs">
        <div class="col-sm-12">
            {% if app.session.flashbag.peekAll|length > 0 %}
                {{ session_flash(null, null, null, 'flash') }}
            {% endif %}
        </div>
    </div>
{% endblock flashes %}

{% block content_row %}
    {% from _self import filter %}

    <div class="row search">
        {% block search %}
            {% if filter is defined and filter is not null and filter.search is defined %}
                {% form_theme filter 'FLECrudBundle::Form/filter.html.twig' %}
                {% if limit is not defined %}
                    {% set limit = true %}
                {% endif %}
                {% if destination is not defined %}
                    {% set destination = '.row.entities' %}
                {% endif %}
                {{ form_start(filter, {'attr': {'class': 'navbar-form navbar-left', 'data-destination': destination}}) }}
                {{ form_label(filter.search) }}
                {{ form_widget(filter.search) }}
                {{ filter(limit) }}
                {{ form_widget(filter.reset) }}
                {{ form_end(filter) }}
            {% endif %}
        {% endblock search %}
    </div>

    <div class="row entities">
        <div class="col-sm-12">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock content_row %}

{% block footer %}
{% endblock footer %}